html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: #333538;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

a:hover, a:focus {
  color: black;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", Arial, serif;
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
}

section h2 {
  font-size: 50px;
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: transparent;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-family: "Work Sans", Arial, serif;
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  font-family: "Parisienne", Arial, serif;
  color: white;
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #fcbd20;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #fdcc52;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: rgba(255,248,220,0.5);
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #fdcc52;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #fdcc52;
  }
}

header.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  /*background: url("../img/bg-pattern.png"), #7b4397;
  background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: url("../img/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);*/
  background: url("../img/pexels-photo.jpg");
  background-size: cover;
}

header.masthead .header-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}

header.masthead .header-content h1 {
  font-size: 50px;
  font-family: "Parisienne", Arial, serif;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-family: "Parisienne", Arial, serif;
    font-size: 120px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }
}

section.wedding {
  position: relative;
}

section.wedding h2 {
  font-family: "Parisienne", Arial, serif;
  font-weight: bold;
  font-size: 40px;
  color: #333538;
  margin-top: 0;
  margin-bottom: 20px;
}

section.wedding .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}

section.wedding .badges .badge-link:last-child {
  margin-bottom: 0;
}

section.wedding .badges .badge-link img {
  height: 60px;
}

@media (min-width: 768px) {
  section.wedding .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  section.wedding h2 {
    font-family: "Parisienne", Arial, serif;
    font-weight: bold;
    font-size: 70px;
  }
}

section.hotels .section-heading {
  margin-bottom: 100px;
}

@media (min-width: 768px) {
  section.hotels h2 {
    font-family: "Parisienne", Arial, serif;
    font-weight: bold;
    font-size: 70px;
  }
}

section.hotels h2 {
  font-family: "Parisienne", Arial, serif;
  font-weight: bold;
  color: #333538;
  margin-top: 0;
  margin-bottom: 20px;
}

section.hotels .section-heading h2 {
  margin-top: 0;
}

section.hotels .section-heading p {
  margin-bottom: 0;
}

section.hotels .device-container,
section.hotels .feature-item {
  max-width: 325px;
  margin: 0 auto;
}

section.hotels .device-container {
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  section.hotels .device-container {
    margin-bottom: 0;
  }
}

section.hotels .feature-item {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

section.hotels .feature-item h3 {
  font-size: 30px;
}

section.hotels .feature-item i {
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: linear-gradient(to left, #7b4397, #dc2430);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.directions {
  position: relative;
}

section.directions .directions-content {
  position: relative;
  z-index: 1;
}

section.directions h2 {
  font-family: "Parisienne", Arial, serif;
  font-weight: bold;
  font-size: 40px;
  color: #333538;
  margin-top: 0;
  margin-bottom: 20px;
}

section.directions h5 {
  font-family: "Work Sans", Arial, serif;
  font-size: 25px;
  color: black;
  margin-top: 0;
  margin-bottom: 5px;
}

section.directions .directions-content h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 25px;
  color: #333538;
}

@media (min-width: 768px) {
  section.directions .directions-content h2 {
    font-size: 70px;
  }
}

section.directions .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

section.gifts {
  position: relative;
}

section.gifts .gifts-content {
  position: relative;
  z-index: 1;
}

section.gifts h2 {
  font-family: "Parisienne", Arial, serif;
  font-weight: bold;
  font-size: 40px;
  color: #333538;
  margin-top: 0;
  margin-bottom: 20px;
}

section.gifts h5 {
  font-family: "Work Sans", Arial, serif;
  font-size: 25px;
  color: black;
  margin-top: 0;
  margin-bottom: 5px;
}

section.gifts .gifts-content h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 25px;
  color: #333538;
}

@media (min-width: 768px) {
  section.gifts .gifts-content h2 {
    font-size: 70px;
  }
}

section.gifts .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
section.contact {
  position: relative;
}

section.contact .contact-content {
  position: relative;
  z-index: 1;
}

section.contact h2 {
  font-family: "Parisienne", Arial, serif;
  font-weight: bold;
  font-size: 40px;
  color: #333538;
  margin-top: 0;
  margin-bottom: 20px;
}

section.contact h5 {
  font-family: "Work Sans", Arial, serif;
  font-size: 25px;
  color: black;
  margin-top: 0;
  margin-bottom: 5px;
}

section.contact .contact-content h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 25px;
  color: #333538;
}

@media (min-width: 768px) {
  section.contact .contact-content h2 {
    font-size: 70px;
  }
}

section.contact .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

section.contact {
  text-align: center;
}

section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

section.contact h2 i {
  color: #dd4b39;
}

section.contact ul.list-social {
  margin-bottom: 0;
}

section.contact ul.list-social li a {
  font-size: 40px;
  line-height: 80px;
  display: block;
  width: 80px;
  height: 80px;
  color: white;
  border-radius: 100%;
}

section.contact ul.list-social li.social-instagram a {
  background-color: #1da1f2;
}

section.contact ul.list-social li.social-instagram a:hover {
  background-color: #0d95e8;
}

footer {
  padding: 25px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #222222;
}

footer p {
  font-size: 12px;
  margin: 0;
}

footer ul {
  margin-bottom: 0;
}

footer ul li a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

footer ul li a:hover, footer ul li a:focus, footer ul li a:active, footer ul li a.active {
  text-decoration: none;
}

.bg-primary {
  background: url("../img/kraft_card.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 1px solid rgba(255,248,220,0.5)
}

.text-primary {
  color: #fdcc52;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #fdcc52;
  background-color: #fdcc52;
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}


.simply-countdown {
  /* The countdown */
  margin-bottom: 2em;
}

.simply-countdown > .simply-section {
  /* coutndown blocks */
  display: inline-block;
  width: 100px;
  height: 100px;
  background: rgba(241, 78, 149, 0.8);
  margin: 0 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  animation: pulse 1s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.simply-countdown > .simply-section > div {
  /* countdown block inner div */
  display: table-cell;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}

.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  color: white;
  /* amounts and words */
}

.simply-countdown > .simply-section .simply-amount {
  font-size: 30px;
  /* amounts */
}

.simply-countdown > .simply-section .simply-word {
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-size: 12px;
  /* words */
}

.event-wrap-dark {
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 248, 220, 0.5);
  padding: 30px;
  width: 100%;
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.event-wrap {
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  width: 100%;
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .event-wrap-dark,
  .event-wrap-dark {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .event-wrap,
  .event-wrap {
    margin-bottom: 10px;
  }
}
.event-wrap-dark h3,
.event-wrap-dark h3 {
  font-size: 20px;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  display: block;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.event-wrap h3,
.event-wrap h3 {
  font-size: 20px;
  color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  display: block;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.event-wrap-dark p, .event-wrap-dark span,
.event-wrap-dark p,
.event-wrap-dark span {
  display: block;
  color: rgba(0, 0, 0, 0.8);
}
.event-wrap p, .event-wrap span,
.event-wrap p,
.event-wrap span {
  display: block;
  color: rgba(255, 255, 255, 0.8);
}
.event-wrap-dark i,
.event-wrap-dark i {
  color: black;
  font-size: 20px;
}
.event-wrap i,
.event-wrap i {
  color: white;
  font-size: 20px;
}
.event-wrap-dark .event-col,
.event-wrap-dark .event-col {
  width: 50%;
  float: left;
  margin-bottom: 20px;
}

.event-wrap .event-col,
.event-wrap .event-col {
  width: 50%;
  float: left;
  margin-bottom: 20px;
}
.js .animate-box {
  opacity: 0;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
