<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ .index_title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/new-age.css" rel="stylesheet"/>
    <link href="/static/css/animate.css" rel="stylesheet"/>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">27th August 2018</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#wedding">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#directions">Directions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#hotels">Hotels</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#gifts">Gifts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#information">Photos</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-12 my-auto">
            <div class="header-content mx-auto text-center">
              <h1>{{ .index_title }}</h1>
              <h2>Are Getting Married In</h2>
              <div class="simply-countdown simply-countdown-one"></div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="wedding bg-primary text-center" id="wedding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto text-center">
            <h2>Schedule</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 text-center">
            <div class="event-wrap-dark animate-box">
              <h3>Monday 27th August 2018</h3>
              <div class="event-col"><i class="fa fa-clock-o"></i><span>12:00 PM</span></div>
              <div class="event-col"><i class="fa fa-calendar"></i><span>Start arriving</span></div>

              <div class="event-col"><i class="fa fa-clock-o"></i><span>12:40 PM</span></div>
              <div class="event-col"><i class="fa fa-calendar"></i><span>Get Seated</span></div>

              <div class="event-col"><i class="fa fa-clock-o"></i><span>13:00 PM</span></div>
              <div class="event-col"><i class="fa fa-calendar"></i><span>Ceremony</span></div>

              <div class="event-col"><i class="fa fa-clock-o"></i><span>14:00 PM</span></div>
              <div class="event-col"><i class="fa fa-calendar"></i><span>Food &amp; Merriment</span></div>

              <div class="event-col"><i class="fa fa-clock-o"></i><span>19:00 PM</span></div>
              <div class="event-col"><i class="fa fa-calendar"></i><span>Put Rhys to Bed</span></div>
              
			  <div class="event-col"><i class="fa fa-clock-o"></i><span>20:00 PM</span></div>
              <div class="event-col"><i class="fa fa-calendar"></i><span>Party, Party, Party</span></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="directions bg-primary" id="directions">
      <div class="directions-content">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto text-center">
              <h2>Directions</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 mx-auto text-center">
              <div class="event-wrap-dark animate-box">
                <h3>Postcode for venue: BT93 8AD</h3>
				<p>There is a short ferry journey to the venue, around 5 minutes.  The ferry fits two cars at a time, so please allow enough time to avoid queues.</p>   
                <p>If you’re staying in Lusty Beg please take the ferry across in your car. If not you can go as a foot passenger and there’s plenty of parking space before the ferry.</p>
				<p>Ships ahoy!</p>
                <i class="fa fa-anchor"><p>&nbsp;</p></i>
                <span><a href="http://www.lustybegisland.com/">For more information click here</a></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 mx-auto text-center">
              <div class="event-wrap-dark animate-box">
                <div class="google-maps">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d148250.2122096761!2d-7.971235486858055!3d54.508637994715905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485e4b543f97e275%3A0x4ae8a31fffcd095a!2sLusty+Beg+Island+Restaurant!5e0!3m2!1sen!2suk!4v1520501268263" width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="hotels bg-primary" id="hotels">
      <div class="container">
        <div class="row">
          <div class="col-md-10 mx-auto text-center">
            <h2>Hotels</h2>
          </div>
        </div>
		<div class="row">
          <div class="col-md-10 mx-auto text-center">
            <div class="event-wrap-dark animate-box">
			  <p>Space maybe limited at the hotel so here's a few local suggestions.</p>
              <div class="event-col"><i class="fa fa-bed"></i><span>Finn Lough Resort</span></div>
              <div class="event-col"><i class="fa fa-address-card"></i><span><a href="https://www.finnlough.com/">finnlough.com</a></span></div>
              
              <div class="event-col"><i class="fa fa-bed"></i><span>Ross Harbour</span></div>
              <div class="event-col"><i class="fa fa-address-card"></i><span><a href="https://rossharbour.co.uk/">rossharbour.co.uk</a></span></div>
              
			  <div class="event-col"><i class="fa fa-bed"></i><span>Westvile Hotel</span></div>
              <div class="event-col"><i class="fa fa-address-card"></i><span><a href="https://www.westvillehotel.co.uk/">westvillehotel.co.uk</a></span></div>
              
              <div class="event-col"><i class="fa fa-bed"></i><span>Manor House Hotel</span></div>
              <div class="event-col"><i class="fa fa-address-card"></i><span><a href="https://www.manorhousecountryhotel.com/">manorhousecountryhotel.com</a></span></div>
              
              <div class="event-col"><i class="fa fa-bed"></i><span>Eniskillen Hotel</span></div>
              <div class="event-col"><i class="fa fa-address-card"></i><span><a href="https://www.enniskillenhotel.com/en/">enniskillenhotel.com</a></span></div>
			</div>
          </div>
		</div>
      </div>
    </section>

    <section class="gifts bg-primary" id="gifts">
      <div class="gifts-content">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto text-center">
              <h2>Gifts</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mx-auto text-center">
              <div class="event-wrap-dark animate-box">
                <div>
                  <i class="icon-present text-primary"></i>
				  <p>We haven’t got a wedding list, for reasons we’ll explain</p>
                  <p>It’s to save you all the hassle, as shopping is a pain!</p>
                  <p>We therefore thought we’d ask you all for something else instead,</p>
                  <p>A little contribution to our holiday once we are wed.</p>
                  <p>So if you’d like to put towards our romantic honeymoon,</p>
                  <p>We’ll give you all our heartfelt thanks</p>
                  <p>&nbsp;</p>
                  <p>With Love</p>
                  <p>The Bride and Groom</p>
                  <p>xxx</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="contact bg-primary" id="information">
      <div class="contact-content">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto text-center">
              <h2>Photos</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mx-auto text-center">
              <div class="event-wrap-dark animate-box">
                <div>
                  <i class="fa fa-instagram"><p>Instagram</p></i>
                  <h5>Help us make memories</h5>
			      <p>If you use Instagram, please use the following tag:</p>
                  <p>#fionagarethlustybeg2018</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; {{ .index_title }} 2018. All Rights Reserved.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Simply Countdown -->
    <script src="/static/js/simplyCountdown.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/new-age.min.js"></script>
    <script>
      var d = new Date(new Date().setTime(1535374800000));
  
      simplyCountdown('.simply-countdown-one', {
          year: d.getFullYear(),
          month: d.getMonth() + 1,
          day: d.getDate(),
          hours: d.getHours(),
          minutes: d.getMinutes(),
          seconds: d.getSeconds(),
          enableUtc: false
      });
    </script>
  </body>
</html>
