<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ .index_title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/new-age.css" rel="stylesheet"/>
    <link href="/static/css/animate.css" rel="stylesheet"/>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Wedding</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#wedding">Wedding</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#directions">Directions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#hotels">Hotels</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#gifts">Gifts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#information">Information</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-12 my-auto">
            <div class="header-content mx-auto text-center">
              <h1>{{ .index_title }}</h1>
              <h2>We Are Getting Married</h2>
              <div class="simply-countdown simply-countdown-one"></div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="wedding bg-primary text-center" id="wedding">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center">
            <h2>Wedding Events</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 text-center">
            <div class="event-wrap-dark animate-box">
              <h3>Wedding</h3>
              <div class="event-col">
                <i class="icon-clock"></i>
                <span>12:00 PM</span>
              </div>
              <div class="event-col">
                <i class="icon-calendar"></i>
                <span>Monday 6</span>
                <span>August, 2018</span>
              </div>
              <p>Insert information here...</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 text-center">
            <div class="event-wrap-dark animate-box">
              <h3>Evening Party</h3>
              <div class="event-col">
                <i class="icon-clock"></i>
                <span>6:30 PM</span>
                <span>12:00 AM</span>
              </div>
              <div class="event-col">
                <i class="icon-calendar"></i>
                <span>Monday 6</span>
                <span>August, 2018</span>
              </div>
              <p>Insert information here...</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="directions bg-primary" id="directions">
      <div class="directions-content">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto text-center">
              <h2>Directions</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 mx-auto text-center">
              <div class="event-wrap-dark animate-box">
                <p>Please use postcode CF72 8JX then follow the highways directional signs to the Vale Resort.</p>
                <div>
                  <h5>FROM LONDON</h5>
                  <p>Take the M4 west, exit at junction 34 in South Wales.</p>
                </div>
                <div>
                  <h5>FROM THE MIDLANDS & THE NORTH</h5>
                  <p>Take the M5, then the M50/A449 to Newport and then M4 to junction 34.</p>
                </div>
                <div>
                  <h5>FROM THE SOUTH WEST OF ENGLAND</h5>
                  <p>Take the M5 to either the M49 at Avonmouth or the M5/M4 interchange (near Bristol) and then over the Severn Crossing into Wales and exit at junction 34.</p>
                </div>
                <div>
                  <h5>FROM WEST WALES</h5>
                  <p>Take the M4 east and exit at junction 34.</p>
                </div>
                <div>
                  <h5>FROM JUNCTION 34</h5>
                  <p>Take the exit signposted for Pendoylan and Hensol, Take 1st right following signs for Pendoylan, Hensol and Vale Resort, Take 1st right, signposted Hensol, Miskin and Vale Resort, Take 1st left, just before white house on the bend. Follow road up the hill and the Vale Resort gates are on the right.</p>
                </div>
                <span><a href="https://www.valeresort.com/directions/">For more information click here</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="hotels bg-primary" id="hotels">
      <div class="container">
        <div class="row">
          <div class="col-md-10 mx-auto text-center">
            <h2>Hotels</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 mx-auto text-center">
            <div class="event-wrap-dark animate-box">
              <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d25899.254576478812!2d-3.3510399718482744!3d51.51531271107021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sHotels!5e0!3m2!1sen!2suk!4v1520168258409" width="800" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="gifts bg-primary" id="gifts">
      <div class="gifts-content">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto text-center">
              <h2>Gifts</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mx-auto text-center">
              <div class="event-wrap-dark animate-box">
                <div>
                  <p>If your thoughts were on a gift,</p>
                  <p>Your presence will suffice.</p>
                  <p>But if you really feel the need,</p>
                  <p>Then the gift of Sterling would be nice.</p>
                  <p>The choice is really up to you,</p>
                  <p>And we would like to say,</p>
                  <p>We hope you come, enjoy yourselves,</p>
                  <p>And have a lovely day.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="contact bg-primary" id="information">
      <div class="contact-content">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto text-center">
              <h2>Information</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mx-auto text-center">
              <div class="event-wrap-dark animate-box">
                <div>
                  <i class="fa fa-instagram"><p> Instagram</p></i>
                  <h5>Help us make memories</h5>
                  <p>#kirsten-chris-hensol-2018</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; {{ .index_title }} 2018. All Rights Reserved.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Simply Countdown -->
    <script src="/static/js/simplyCountdown.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/new-age.min.js"></script>
    <script>
      var d = new Date(new Date().setTime(1533556800000));
  
      simplyCountdown('.simply-countdown-one', {
          year: d.getFullYear(),
          month: d.getMonth() + 1,
          day: d.getDate(),
          hours: d.getHours(),
          minutes: d.getMinutes(),
          seconds: d.getSeconds(),
          enableUtc: false
      });
    </script>
  </body>
</html>
