<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ .P.index_title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="/static/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/new-age.css" rel="stylesheet"/>
    <link href="/static/css/animate.css" rel="stylesheet"/>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Wedding</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#wedding">Wedding</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#directions">Directions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#hotels">Hotels</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#gifts">Gifts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#information">Information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/api">API</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="rsvp bg-primary text-center" id="rsvp">
      <div class="container">

        <div class="row">
          <div class="col-md-12 mx-auto text-center">
            <h2>R.S.V.P.</h2>
          </div>
        </div>

		<form method="post" action="/rsvp/{{ .Rsvp.ID }}/save">

          <div class="event-wrap-dark animate-box">
            <div class="form-group row">
              <label for="example-email-input" class="col-4 col-form-label">Contact Email</label>
              <div class="col-8">
                <input class="form-control" type="email" value="{{ .Rsvp.Email }}" id="Email">
              </div>
            </div>
{{range $index, $person := .Rsvp.Attendees}}
		    <div class="form-group row">
              <label for="name" class="col-4 col-form-label">Name</label>
              <div class="col-8">
                <input type="text" class="form-control" id="Attendees.{{ $index }}.Name" value="{{ $person.Name }}">
              </div>
            </div>
		    <div class="form-group row">
              <label for="name" class="col-4 col-form-label">Attending</label>
              <div class="col-8">
                <input type="checkbox" class="form-control" id="Attendees.{{ $index }}.Attending" value="{{ $person.Attending }}">
              </div>
            </div>
		    <div class="form-group row">
              <label for="name" class="col-4 col-form-label">Dietry Requirements</label>
              <div class="col-8">
                <input type="text" class="form-control" id="Attendees.{{ $index }}.DietryRequirements" value="{{ $person.DietryRequirements }}">
              </div>
            </div>
            <div class="form-group row">
              <label for="name" class="col-4 col-form-label">I prefer</label>
              <div class="col-8">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Attendees.{{ $index }}.Wine" id="Attendees.{{ $index }}.Wine1" value="red" checked>
                  <label class="form-check-label" for="Attendess.{{ $index }}.Wine1">
                    Red wine
                 </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Attendees.{{ $index }}.Wine" id="Attendees.{{ $index }}.Wine2" value="white">
                  <label class="form-check-label" for="Attendess.{{ $index }}.Wine2">
                    White wine
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Attendees.{{ $index }}.Wine" id="Attendees.{{ $index }}.Wine3" value="other">
                  <label class="form-check-label" for="Attendess.{{ $index }}.Wine3">
                    Am too young / pregnant or boring
                  </label>
                </div>
              </div>
            </div>
{{end}}
		    <div class="form-group row">
              <input class="btn btn-primary" type="submit" value="Save">
		    </div>
          </div>
        </form>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; {{ .P.index_title }} 2018. All Rights Reserved.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/new-age.min.js"></script>
  </body>
</html>
